@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .nav-link{
    @apply hover:underline font-medium hover:underline-offset-4
  }

  .icon-button{
    @apply w-7 h-7 hover:opacity-50 cursor-pointer
  }

  .footer-main-link{
    @apply uppercase font-semibold text-sm
  }
  #mainImg{
    filter: drop-shadow(0 0 0.75rem white);
  }
}